<div class=" text-center mt-4 p-5 w-75 mx-auto text-dark bg-light">
  <h2 class="home">Welcome to my Event simple App </h2>
  <hr>
  Lorem ipsum dolor sit amet.
  <br><br>
  <a href="/events" class="btn btn-outline-dark">Event Page</a> 
</div>
